.blogs_card_main_container {
    background-color: white;
    margin: 0px 50px 0px 50px;
    border-radius: 10px;
}
.blogs_card_heading {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    text-align: left;
    color: #000000;
    padding: 20px 0px 0px 20px;
}
.blogs_card_writer {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    color: grey;
    padding: 0px 0px 0px 20px;
    margin: 0;
}

.blogs_card_writer > span {
    font-style: italic;
}

.blogs_card_description {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    color: #000000;
    padding: 0px 0px 20px 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .blogs_card_main_container {
        margin: 0px 20px 0px 20px;
    }
    .blogs_card_description {
        padding: 0px 20px 20px 20px;
    }
}