@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.description_main_container {
    position: relative;
    display: flex;
    background-color: rgba(239, 238, 255, 1);
    align-items: center;
    /* padding-bottom: 40px; */
    padding-left: 130px;
    /* padding-right: 130px; */
}

.description_image_circle {
    width: 192px;
    position: absolute;
    right: 0;
}

.description_image {
    width: 700px;
    height: auto;

}

.image_container {
    padding: 10px 40px 0px 50px;
    filter: drop-shadow(0px 3.70175px 8.63743px rgba(0, 0, 0, 0.25));

}

.description_container {
    background-color: white;
    border-radius: 100px 0 0 0px;
    padding: 30px 140px 10px 60px;
}

.description_question {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 31px;
    text-align: left;
    color: #000000;
}

.description_content {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: #000000;
}

@media (min-width:240px) and (max-width: 768px) {
    .description_image_circle {
        display: none;
    }
    .description_main_container {
        display: flex;
        flex-direction: column-reverse;
        background-color: rgba(239, 238, 255, 1);
        align-items: center;
        padding-left: 0px;
    }

    .description_image {
        width: 305.76px;
        height: 159.87px;
        margin-right: 0px;
    }

    .description_question {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        text-align: left;
        color: #000000;
    }
    
    .description_content {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        text-align: left;
        color: #000000;
    }

    .description_container{
        padding: 30px;
        border-radius: 0px;
        background-color: rgba(239, 238, 255, 1);
    }

    .image_container {
        padding: 10px;
    }
}

@media (min-width:769px) and (max-width : 1190px) {
    .description_image_circle {
        display: none;
    }
    .description_main_container {
        display: flex;
        flex-direction: column-reverse;
        background-color: rgba(239, 238, 255, 1);
        align-items: center;
    }

    .description_image {
        width: 405.76px;
        height: auto;
        margin-right: 80px;
        margin-bottom: 20px;
    }

    .description_question {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        text-align: left;
        color: #000000;
    }
    
    .description_content {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        color: #000000;
        padding-right: 100px;
    }

    .description_container{
        padding: 30px;
        border-radius: 0px;
        background-color: rgba(239, 238, 255, 1);
    }

    .image_container {
        padding: 10px;
    }
}

@media (min-width:1191px) and (max-width : 1440px) {
    .description_image {
        width: 500px;
        height: auto;
    }
    .description_question {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        text-align: left;
        color: #000000;
    }
    .description_content {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: left;
        color: #000000;
    }
}