@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,300&display=swap');

/* Desktop */

.eligible_bg{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 70px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.box {
    background-color: #EFEEFF;
    border: none;  
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38.5179px 81.0356px;
    width: 700.46px;
    height: 406.67px;
    display: inline-block;
    margin-top: 500px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 5px;
    z-index: 100;
}   

.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 22px; 
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    padding: 0%;
    white-space: nowrap;
}

.linetwo {
    color: linear-gradient(#BB6E9F, #D87F91);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-weight: 80;
    white-space: nowrap;
}

ul{
    list-style-image: '../Assets/contact_us_circle_one.png';
}

.ul_class1{
    padding: 0%;
    text-align: left;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

.ul_class2{
    padding-right: .6em;
    text-align: right;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
