@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,300&display=swap');
/* Desktop */

.eligible_bg{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
    margin-top: 60px;
    display: flex;
}

.prizes{
    width: 215.52px;
    height: auto;
    margin-top: 20px;
    margin-left: 150px;
    z-index: 100;
    border-radius: 40px;
    box-shadow: 0px 10px 20px #D0A7DD, 0px 10px 20px #ECA2C3;
}
.box {
    background-color: #EFEEFF;
    border: none;  
    border-radius: 20px;
    padding-top: 35px;
    top: 15px;
    right: 150px;
    position: absolute;
    width: 700.46px;
    height: 406.67px;
    display: inline;
    text-align: left;
    text-align: center;
    box-shadow: 20px 30px 40px #D0A7DD, 0px 10px 30px #ECA2C3;
}   

.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 24px; 
    font-weight: 800;
    padding: 0%;
    white-space: nowrap;
    text-align: center;
}

.linetwo {
    font-family: 'Fraunces', serif;
    font-style: normal;
    color:#D87F91;
    /*color: linear-gradient(#BC6F9E, #D87F91);*/
    font-size: 22px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
}

ul{
    margin-right: 10px;
    margin-left: 0px;
    list-style-image:  url('../Assets/Star.png');
    display: inline-block;
}

.ul_class1{
    top: 100px;
    margin-left: -10px;
}

.list{
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    z-index: 100;
}
