
.home_circle {
    position: absolute;
    width: 502px;
    height: 502px;
    left: 0px;
}

.home_main_container {
    background-color: rgba(239, 238, 255, 1);
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    position: relative;
}
.home_container_one {
    margin-right: 30px;
}
.home_header {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    z-index: 100;
    line-height: 1;
}

.home_image {
    width: 600px;
    height: auto;
    padding-left: 2%;
}

.home_content {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    z-index: 100;
    width: 430px;
    margin-top: 2px;
}

.beyond {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    color: rgba(2, 2, 252, 1);
}

.apply_button {
    z-index: 999;
    width: 150px;
    cursor: pointer;
}

@media (min-width:240px) and (max-width: 768px) {
    .home_main_container {
        flex-direction: column;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .home_header {
        font-size: 24px;
    }

    .home_content {
        font-size: 11px;
        width: 300px;
        margin-left: 10px;
    }

    .home_circle {
        display: none;
    }

    .home_image {
        width: 336.28px;
        height: 172.17px;
    }

    .apply_button {
        margin-bottom: 40px;
    }

    .home_container_one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
}

@media (min-width:769px) and (max-width : 1190px) {
    .home_main_container {
        flex-direction: column;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .home_header {
        font-size: 70px;
    }

    .home_content {
        font-size: 17px;
    }

    .home_circle {
        display: none;
    }

    .home_image {
        width: 400px;
        height: auto;
    }

    .apply_button {
        margin-bottom: 40px;
    }
}

.shortStoryComp {
    margin: 13px 0px;
}

.subHeading {
    margin-top: 14px 0px;
    padding: 0px 0px;
}

.para{
    margin: 0px 0px;
    padding: 0px 0px;
}