
.timeline_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;    
}
.main_bg {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.timeline_image {
    top: 12px;
    padding: 5px 5px;
    width: 550px; 
    height: auto;
    z-index: 100;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 20px 50px 10px #E8C6E1 , 0px 9px 200px 10px #E8C6E1;
}

.heading_timeline{
    font-family: 'Raleway', sans-serif;
    font-size: 26px; 
    font-style: normal;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline{ 
    color: #0202FC;
    text-underline-position: under;
    font-family: 'Fraunces', serif;
    text-decoration: underline;
    font-size: 26px;
    font-weight: 800;
    white-space: nowrap;
    display:inline;
}

.smallbox{
    margin-top: 10px;
    margin-bottom: 0px;;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 22px; 
    font-weight: 800;
    color: black;
    display: inline-block;
    z-index: 100;
}

.smallbox2{
    margin-top: 10px;
    margin-left: 80px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 22px; 
    font-weight: 800;
    color: black;
    display: inline;
}

.date{
    font-family: 'Raleway', sans-serif;
    font-size: 45px; 
    font-weight: 800;
    color: black;
}

.sarrow{
    margin-top:5px;
    margin-left:5px;
    bottom: 200px;
    width: 22px;
    height: auto;
    display: inline;
    z-index: 100;
    margin-right: 10px;
}

.smalltext{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    z-index: 100;
    text-align: left;
    display: inline-block;
}

.flex-container {
    margin: 5px;
    min-height: 2px;	
    display: flex; 
}

@media (min-width:240px) and (max-width: 768px) {
    .timeline_main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .timeline_image {
        width: 300px;
        height: auto;
        margin-top: 30px;
    }
    .smallbox {
        font-size: 10px;
    }
    .smallbox2 {
        font-size: 10px;
    }
    .smalltext {
        font-size: 7px;
    }
    .sarrow {
        width: 15px;
        height: auto;
    }
    .smallbox2 {
        margin-left: 30px;
    }
    .heading_timeline {
        font-size: 20px;
        margin-left: 10px;
    }
    .timeline {
        font-size: 20px;
    }
    .main_bg {
        margin-left: 0px;
        margin-top: 25px;
    }
}

@media (min-width : 769px) and (max-width : 1190px) {
    .timeline_main {
        flex-direction: column;
    }
    .heading_timeline {
        font-size: 25px;
    }
    .timeline {
        font-size: 25px;
    }
    .timeline_image {
        width: 500px;
        height: auto;
        margin-top: 30px;
    }
    .smallbox {
        font-size: 20px;
    }
    .smallbox2 {
        font-size: 20px;
    }
    .smalltext {
        font-size: 10px;
    }
    .sarrow {
        width: 20px;
        height: auto;
    }
    .smallbox2 {
        margin-left: 30px;
    }
}